<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "./partials/head.njk" %}
  </head>
  <body>
    {% include "./partials/navbar.njk" %}
    {{ content | safe }}
    {% include "./partials/footer.njk" %}
    {#
    <script src="/static/js/abcjs-basic.js"></script>
    <script src="/static/js/abcjs-plugin-min.js"></script>
    #}
    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
  </body>
</html>