---
layout: default
prism: true
---

<div class="container-xl max-w-6xl mt-6 mx-auto px-6">
    <div class="pb-5 mb-5 border-b border-gray-100">
        <h1 class="font-bold text-5xl">{{title}}</h1>
        {# <p class="text-center text-base leading-6 font-medium text-gray-500">
            <time>
                {{ date | readableDate }}

            </time>
        </p> #}
        {% if source %}
            <p class="text-center text-base leading-6 font-medium text-gray-500">Source: <span>{{ source }}</span></p>
        {% endif %}

    </div>

    <div class="mx-auto max-w-3xl content-center">

        {% if abc %}

            <div id="paper" class="my-2"></div>
            <hr>
            <div id="audio"></div>
            <hr>
            <div class=" mt-10">
                <label for="ABCMusic" class="block mb-2 text-lg font-medium text-gray-900 dark:text-gray-400 text-center">ABC notation
            string:</label>
                <textarea name="ABCMusic" id="abc" spellcheck="false" height="auto"
            class="block w-full h-80 p-2.5 mx-auto w-3xl m text-md text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 ">{{ abc }}</textarea>
                <div id="warnings" class="my-2 text-center"></div>

                {# <code>{{ abc  }}</code> #}

            </div>
        {% endif %}
{# 
        {% if content %}
            <div class="prose lg:prose-xl my-4 mx-auto">
        Content
        {{ content | safe }}
            </div>
        {% endif %} #}

    </div>
</div>