<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TNEB02768D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TNEB02768D');
</script>

<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{title}}</title>

{% if description %}
<meta name="description" content="{{description}}"/>
{% endif %}

<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

{% if prism == true %}
<link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
{% endif %}

{% if abc %}
<script src="/static/js/abcjs-basic.js"></script>
{# <script src="/static/js/abcjs-plugin-min.js"></script> #}
{# <script src="/static/js/abcscripts.js"></script> #}
<link rel="stylesheet" type="text/css" href="/static/css/abcjs-audio.css"/>
{% include "partials/abcjs.njk" %}
{% endif %}
