{% extends "partials/head.njk" %}

<script src="/static/js/abcjs-basic.js"></script>
{# <script src="/static/js/abcjs-plugin-min.js"></script> #}

<script type="text/javascript">
  window.onload = function() {
    new ABCJS.Editor("abcText", { 
      canvas_id: "paper",
      warnings_id: "warnings",
      abcjsParams: {}
    });
  }

</script>